<div class="label label-default tag-queue">Tag Matrix</div>
            <% _.each(categories.reverse(), function(category) {  %>
             <ul class="<%= category.get('expanded') %>">
               <span class="category-expander <%= category.get('expanded') %>" data-name='<%= category.get("name") %>'>
                  <i class="fa fa-caret-left" title="Expand/Hide Group"></i></span>
               <span class="categoryRating count-<%= category.get('queued') %>"  data-name='<%= category.get('name') %>'>
                    <i class="fa fa-plus-circle"   title="Add/Remove group from Queue"></i></span>
               <button type="button" class="btn btn-xs btn-success category" title="Load Slideshow now"><%= category.get('name') %></button>
               <% _.each(curatedTags.sort(), function(tag) { 
                  if (category.get('name') == tag.get('category')) { %>
                  <li class="tilt-container"><a class="tag tilter <%= tag.get('hasPic') %>" href="#"   style="opacity: 1; background-image: url( <%= tag.get('picURL') %>  );">
                    
                    <span class="rating count-<%= tag.get('queued') %>"  data-name='<%= tag.get('name') %>'>
                      <i class="fa fa-plus-circle"   title="Add/Remove from Queue"></i>
                     </span>
                   
                    <button type="button" class="btn btn-xs btn-info <%= tag.get('selected') %>" title="Load Slideshow now" data-category="<%= tag.get('name') %>"><%= tag.get('name') %></button>
                    </a>
                  </li>
               <%  } });  %>
             </ul>
            <% }); %>